.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/button-edit.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  background-position: center;
  transition: opacity 1 ease;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
