.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid #fff;
  background-position: center;
  border-radius: 2px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity .25s ease .05s;
  cursor: pointer;
}

/*@media screen and (max-width: 980px) {
  .profile__add-button {
    margin-left: 150px;
  }
}*/
  

/*@media screen and (max-width: 741px) {
  .profile__add-button {
    width: 282px;
    margin-left: 0;
    margin-top: 36px;
  }
}*/

@media screen and (max-width: 980px) {
  .profile__add-button {
    width: 282px;
    margin-left: 0;
    margin-top: 32px;
  }
}
