.profile__info-container {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

@media screen and (max-width: 741px) {
  .profile__info-container {
    grid-template-columns: auto;
  }
}
