.popup__submit {
  min-width: 358px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 48px auto 37px;
  padding: 0;
  border-radius: 2px;
  border: none;
}

.popup__submit:hover {
  opacity: 0.8;
  transition: opacity .25s ease .05s;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .popup__submit {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px;
  }
}
