.gallery__like-button {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.gallery__like-button:hover {
  opacity: 0.5;
  transition: opacity .25s ease .05s;
  cursor: pointer;
}
